@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corFundo: #fff;
  --corFundo2: #ffffff00;
  --primeira-cor: #1C5931;
  --corLetra: #124020;
  --corLetra2: #9acd32;
  --fundoBotao: #dbefc8;
  --fundoCard2: rgba(167, 234, 35, .412);
  --fundoCard1: #e5e7eb;
  --fundoCard3: #acff2f27;
  --corSombra: #1240229c;
  --corSombra2: #124022cc;
  --terceira-cor: rgb(159, 226, 24);
  --letra1-cor: #aaff00;
  --letra-cor: #cbffdd;
  --letra3-cor: #369927;
  --letra2-cor: #9BBFAB;
  --letra4-cor: #5E8C72;

  --font1: font-family: 'Caveat', cursive;
  --font2: font-family: fantasy;
  --font3: font-family: Arial, Helvetica, sans-serif;
  
  }
  *{
    font-family: 'Caveat', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.TestoHeader {
  font-family: fantasy;
  color: var(--corLetra2) ;
  text-shadow: 2px 2px 3px #00000059;
}


img {
  height: inherit;
}
input, select, textarea{
  width: 100% ;
  height: 30px;
  border-radius: 5px;
}
@layer components {
  .bg-custom-gradient {
    background-image: linear-gradient(to bottom, rgb(199 253 164 / 62%), rgb(211 255 181 / 71%), rgb(185 250 148 / 82%), rgb(165 255 117 / 97%));
 }
 .custom-gradient {
    background-image: linear-gradient(to bottom, rgba(200, 253, 164, 0.199), rgba(211, 255, 181, 0.384), rgba(185, 250, 148, 0.397), rgba(165, 255, 117, 0.589));
 }
  .alinha {
    @apply flex flex-col justify-between items-center
  }
  .alinha2 {
    @apply flex justify-between items-center
  }
  .alinha3 {
    @apply flex justify-center items-center
  }
  .alinha4 {
    @apply flex flex-col justify-around items-center text-center
  }
  .alinha5 {
    @apply  flex justify-around items-center
  }
  .alinha6 {
    @apply flex flex-col justify-center items-center
  }
  .linkNav {
    @apply hover:scale-105 p-1 respoFont text-lg lg:text-2xl md:hover:bg-[var(--corLetra)] md:hover:text-[var(--corFundo)]
  }
  .titulo {
    @apply text-[var(--corLetra2)] text-lg md:text-[2.4rem] lg:text-[1.9rem] text-center lg:text-start
  }
  .TestoP {
    @apply respoFont text-[var(--fundoBotao)] mt-[-10]
  }
  .headerIcone {
    @apply text-5xl text-[var(--fundoBotao)] hover:scale-110
  }
  .linkHead {
    @apply bg-[var(--fundoBotao)] text-[var(--corLetra2)] hover:bg-[var(--corLetra2)] hover:text-[var(--fundoBotao)] p-1 rounded-sm border-2 border-[var(--corLetra2)] shadow-md lg:w-[18vw] md:w-[40vw] w-[48vw] text-[1.1rem] md:text-[1.4rem]  text-center respoFont font-semibold hover:scale-105 ease-in duration-300
  }
  .topoInfo {
    @apply w-full  bg-[var(--fundoCard3)] shadow-2xl rounded-lg border-2 border-[var(--corLetra2)] gap-2 md:gap-5 ease-in duration-700 p-1 md:p-4
  }
  .topoInfo2 {
    @apply xl:flex w-full gap-10 group-hover:bg-[var(--fundoCard2)]
  }
  .imgInfo {
    @apply shadow-lg rounded-l-md w-full xl:group-hover:h-[100%] xl:group-hover:w-[350px]
  }
  .infoP {
    @apply font-terceiraFont list-disc text-sm
  }
  .respoFont {
    @apply font-terceiraFont lg:font-fontPrincipal
  }
  .impu {
    @apply border-gray-300 border p-2 rounded-md h-[20px] md:h-[25px] lg:h-[40px]
  }
 
}
